#notif-badge {
  margin-right: 10px;

  * {
    box-shadow: none;
  }

  #notif-bell {
    font-size: 20px;
  }
}

.burger-additional-item {
  border-bottom: 1px solid rgb(65, 65, 65);
}
