<nz-layout>
  <nz-header>
    <app-navbar></app-navbar>
  </nz-header>
  <nz-content id="main-content">
    <router-outlet></router-outlet>
    <div id="newsfeed-div">
      <button
        nz-button
        nzType="primary"
        nz-tooltip
        nzTooltipTitle="Newsfeed"
        nzTooltipPlacement="left"
        (click)="onNewsfeedClick()"
      >
        <i nz-icon nzType="double-left" nzTheme="outline" style></i>
      </button>
    </div>
  </nz-content>
  <nz-footer
    >Copyright Filet de Lumière - 2019-2020 - Tous droits réservés</nz-footer
  >
</nz-layout>
